@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("./Poppins/Poppins-Black.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("./Poppins/Poppins-ExtraBold.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./Poppins/Poppins-Bold.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("./Poppins/Poppins-SemiBold.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("./Poppins/Poppins-Medium.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./Poppins/Poppins-Regular.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("./Poppins/Poppins-Light.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("./Poppins/Poppins-ExtraLight.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("./Poppins/Poppins-Thin.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}

html {
  font-family: "Poppins", Pretendard, Roboto, sans-serif;
  --scrollbarBG: #ffffff00;
  --thumbBG: #b8b8b8;
}
body::-webkit-scrollbar {
  width: 5px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
}

::selection {
  background: #000;
  color: #fff;
}

.dark ::selection {
  background: #fff;
  color: #000;
}

.toggleSwitch {
  cursor: pointer;
  width: 84px;
  height: 36px;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #000;
  border-radius: 100px;
  position: relative;
  outline: none;
  font-size: 16px;
}
.toggleSwitch.active {
  border-color: #fff;
}
.toggleSwitch::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #fff;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100px;
  border: 2px solid #000;
  transition: all 0.2s ease;
}
.toggleSwitch.active::after {
  left: 51px;
  border-color: #fff;
  background-color: #000;
}
.toggleSwitch span {
  line-height: 32px;
  margin-left: 32px;
  font-size: 14px;
}
.toggleSwitch.active span {
  margin-left: 12px;
}

.postTag > div {
  transition: all 0.2s cubic-bezier(0.4, 0, 0, 1);
}
.postTag > div:hover {
  transform: scale(1.1);
}

.quickMenu {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.quickMenu button {
  padding: 10px;
}
.quickMenu button {
  transition: all 0.2s ease;
}
.quickMenu button:hover {
  transform: scale(1.1);
}

.utterances-frame {
  height: inherit;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}

.sticky-nav {
  position: sticky;
  z-index: 40;
  top: -1px;
  backdrop-filter: blur(5px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  border-bottom-color: transparent;
}

.remove-sticky {
  position: unset;
}

.sticky-nav-full {
  @apply border-b border-opacity-50 border-gray-200 dark:border-gray-600 dark:border-opacity-50;
}

.header-name {
  /* display: none; */
  opacity: 1;
  /* opacity: 0; */
  overflow: hidden;
}

.sticky-nav-full .nav {
  @apply text-gray-600 dark:text-gray-300;
}

nav {
  flex-wrap: wrap;
  line-height: 1.5em;
}

.article-tags::-webkit-scrollbar {
  width: 0 !important;
}

.tag-container ul::-webkit-scrollbar {
  width: 0 !important;
}

.tag-container ul {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.mobile-x-scroll {
  overflow-x: scroll;
}

.profile img {
  transform: scale(0.7);
}

.dark .dark\:bg-zinc-700 .profile img {
  filter: invert(1);
}

@media (max-width: 768px) {
  .sticky-nav-full {
    @apply max-w-full border-b border-opacity-50 border-gray-200 dark:border-gray-600 dark:border-opacity-50;
  }
  .header-name {
    display: block;
    /* opacity: 0; */
    transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  }
  .sticky-nav-full .header-name {
    opacity: 1;
    @apply dark:text-gray-300 text-gray-600;
  }
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-day bg-opacity-90 dark:bg-night dark:bg-opacity-90;
  }
}

@media (min-width: 768px) {
  .mobile-x-scroll {
    overflow-x: hidden;
  }
}
